@model Chapter6Example1.Models.Instructor

<form asp-controller="Instructor" asp-action="AddInstructor" 
method="post">
<label asp-for="InstructorName"></label>
<input asp-for="InstructorName"/>
<br />
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <br />
    <label asp-for="Phone"></label>
    <input asp-for="Phone" />
    <br />
    <label asp-for="Office"></label>
    <input asp-for="Office" />
    <br />
<button type="submit" > Add Instructor </button>
</form>