@model Chapter6Example1.Models.Instructor

<form asp-controller="Instructor" asp-action="AddInstructor" 
method="post">
<label asp-for="InstructorName"></label>
<input asp-for="InstructorName"/>
<br />
<button type="submit" Add Instructor </button>
</form>